########## Project dependency requirement ##############

#### Spark Dependencies #######
pyspark
pyspark-stubs

#### Yaml & Java Object Access library #######
py4j
# Unable to install in local setup
# getting yaml version error
#yaml
